---
import MainLayout from "../../layouts/MainLayout.astro";
import PostEditor from "../../components/admin/PostEditor.jsx";
---

<MainLayout title="Admin Dashboard">
  <div class="min-h-screen bg-gray-50 dark:bg-transparent py-10">
    <PostEditor client:only="react" />
  </div>
</MainLayout>
