---
// Comments.astro
import { db } from "../db/firebase";
import { collection, addDoc, query, orderBy, onSnapshot, Timestamp } from "firebase/firestore";
const { slug } = Astro.props;
---
<section>
  <form id="comment-form">
    <textarea name="comment" required></textarea>
    <button type="submit">Submit</button>
  </form>
  <div id="comments-list"></div>
</section>
<script is:client="load">
  const slug = Astro.props.slug;
  const form = document.querySelector("#comment-form");
  console.log("form object:", form);
  if (form) {
    form.addEventListener("submit", async (e) => {
      console.log("Submit handler called");
      e.preventDefault();
      const val = form.comment.value.trim();
      if (!val) return;
      try {
        await addDoc(collection(db, "comments_" + slug), {
          comment: val,
          timestamp: Timestamp.fromDate(new Date())
        });
        form.reset();
      } catch (err) {
        console.error("Error:", err);
      }
    });
  }
</script>
