---
export interface Props {
  slug: string;
}

const { slug } = Astro.props;
const DISQUS_SHORTNAME = "sollungomaami"; 
---
<script>
  var disqus_config = function () {
    this.page.url = `${Astro.url.origin}/${slug}`;
    this.page.identifier = `${slug}`;
  };
</script>

<div id="disqus_thread"></div>

<script>
  (function() {
    var d = document, s = d.createElement('script');
    s.src = `https://sollungomaami.disqus.com/embed.js`;
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
