---
export interface Props {
  slug: string;
}

const { slug } = Astro.props;
const DISQUS_SHORTNAME = "sollungomaami"; // <-- **Check this value!**
const disqus_config = `
  var disqus_config = function () {
    this.page.url = '${Astro.url.origin}/${slug}';
    this.page.identifier = '${slug}';
  };
`;
---
<script>
  {disqus_config}
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + DISQUS_SHORTNAME + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<div id="disqus_thread"></div>
